[defaults]
roles_path = ./roles
inventory = ./hosts
playbook_dir = ./playbooks
host_key_checking = False
remote_user = ansible
ask_pass = False
ask_become_pass = False
become = True
become_method = sudo
become_user = root
timeout = 30
