/.vs
/.vscode
/.idea
/.DS_Store

Backend/HRIS.API/bin
Backend/HRIS.API/obj

Backend/HRIS.Application/bin
Backend/HRIS.Application/obj

Backend/HRIS.Domain/bin
Backend/HRIS.Domain/obj

Backend/HRIS.Identity/bin
Backend/HRIS.Identity/obj

Backend/HRIS.Infrastructure/bin
Backend/HRIS.Infrastructure/obj

Backend/HRIS.Persistence/bin
Backend/HRIS.Persistence/obj

Frontend/HRIS.ReactJSApp/node_modules

Frontend/HRIS.WebUI/bin
Frontend/HRIS.WebUI/obj
